@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

body {
    font-family: 'Open Sans', sans-serif;
    color: #434343;
}

nav {
    text-transform: uppercase;
    font-family: 'Ubuntu Mono', 'Lucida Console', 'Monaco', monospace;
    letter-spacing: 1px;
}

.navbar-default .navbar-nav > li > a {
    color: #ddd;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}

.navbar-default .navbar-nav {
    margin-top: 15px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

h1 {
    font-weight: 900;
    line-height: 1.5;
}

h2 {
    text-align: center;
    letter-spacing: 5px;
}

h2, h3 {
    text-transform: uppercase;
    font-family: 'Ubuntu Mono', 'Lucida Console', 'Monaco', monospace;
    color: #434343;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

.navbar-default {
    background: rgba(0, 0, 0, 0.6);
    border: none;
    color: #FFF;
    border-radius: 0px;
    padding-top: 20px;
}

.primary-banner {
    background-image: url(../images/blur.jpg);
    background-size: cover;
    background-position: center top;
    background-color: #1a2b3a;
    padding-top: 230px;
    padding-bottom: 100px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

#services .service {
    background-position: left 25px;
    background-repeat: no-repeat;
    background-size: 65px;
    padding-left: 80px;
    padding-right: 25px;
    padding-top: 25px;
    min-height: 100px;
}

#services .service-digital {
    background-image: url(../images/service-digital.png);
}

#services .service-creative {
    background-image: url(../images/service-creative.png);
}

#services .service-production {
    background-image: url(../images/service-production.png);
}

#works {
  margin-bottom: 25px;
}

.text-important {
    color: #ff6c2c;
    font-weight: bold;
}

.btn {
    border-radius: 50px;
}

.btn-success {
    border: 2px solid #ff6c2c;
    background: none;
    color: #ff6c2c;
    padding: 10px 30px;
    font-size: 30px;
    font-weight: 300;
}

.btn-success.active,
.btn-success.focus,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.open>.dropdown-toggle.btn-success {
    border: 2px solid #ff6c2c;
    background: none;
    color: #ff6c2c;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.50);
    transition: all 0.5s linear;
}

.grey-block {
    background: #d3d3d3;
    padding-bottom: 30px;
}

.contact-block {
    background-color: #5c5a5b;
    color: #FFF;
    font-size: 12px;
}

.contact-block h2 {
    color: #fff;
    text-align: center;
}

.contact-block a {
    color: #fff;
}

a,
a:hover {
    color: #2db0ba;
    text-decoration: none;
}

.contact-block h4 {
    margin: 20px 0px;
}

.navbar-default .navbar-toggle {
    color: #FFF;
}

.img-responsive-container {
    display: table-cell;
    height: 150px;
    vertical-align: middle;
}

.contact-info {
    margin-left: 25px;
}

.contact-info-icon {
    float: left;
}

#map {
    border: 10px solid #888;
    border-radius: 10px;
}

@media (max-width: 767px) {
    .navbar-default {
        padding-top: 0;
    }

    .primary-banner {
        padding-top: 80px;
        padding-bottom: 35px;
    }

    #services .service {
        background-position: left top;
    }
}
