body {
    font-family: 'Roboto', sans-serif;
}

.navbar-default {
    background: rgba(0, 0, 0, 0.50);
    border: none;
    color: #FFF;
    border-radius: 0px;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
}

.primary-banner {
    background-image: radial-gradient(ellipse at 0% bottom, rgba(19,24,29,0.7) 0%,rgba(19,24,29,0) 60%),radial-gradient(ellipse at 90% bottom, #1A2B3A 0%,rgba(82,63,140,0) 40%);
    background-color: #1a2b3a;
    padding-top: 45px;
    padding-bottom: 30px;
    color: #FFF;
}

h1 {
    font-weight: 900;
    line-height: 1.5;
}

.text-important {
    color: #ff6c2c;
    font-weight: bold;
}

.btn {
    border-radius: 50px;
}

.btn-success {
    border: 2px solid #ff6c2c;
    background: none;
    color: #ff6c2c;
    padding: 10px 30px;
    font-size: 30px;
    font-weight: 300;
}

.btn-success.active,
.btn-success.focus,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.open>.dropdown-toggle.btn-success {
    border: 2px solid #ff6c2c;
    background: none;
    color: #ff6c2c;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.50);
    transition: all 0.5s linear;
}

.grey-block {
    background: #efefef;
    padding-bottom: 30px;
    text-align: center;
}

.logos {
    padding-bottom: 15px;
}

//.logos .row > div:nth-child(1) img {
//    margin-top: 46px;
//}
//
//.logos .row > div:nth-child(2) img {
//    margin-top: 15px;
//}
//
//.logos .row > div:nth-child(3) img {
//    margin-top: 28px;
//}
//
//.logos .row > div:nth-child(4) img {
//    margin-top: 43px;
//}

.contact-block {
    background: url(../images/bg-angles.png) repeat;
    padding: 30px 0px;
    color: #FFF;
}

.examples-block {
    background: #222;
    padding-top: 40px;
    padding-bottom: 40px;
}

.examples-block .carousel {
    border: 3px solid #FFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.60);
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.80);
    padding-bottom: 60px;
}

.grey-block h4 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 300;
    font-style: italic;
}

.modal {
    z-index: 9999;
}

.services-block {
    font-size: 16px;
    line-height: 1.6;
    padding: 30px 0px;
}

.services li {
    margin: 20px 0px;
    font-size: 22px;
    font-weight: bold;
}

label {
    font-size: 16px;
    margin: 10px 0px;
}

a,
a:hover {
    color: #ff6c2c;
}

.contact-block h4 {
    margin: 20px 0px;
}

.navbar-default .navbar-toggle {
    color: #FFF;
}

.img-responsive-container {
    display: table-cell;
    height: 150px;
    vertical-align: middle;
}

.contact-info {
    margin-left: 25px;
}

.contact-info-icon {
    float: left;
}

@media (min-width: 1650px) {
    .primary-banner {
        padding-top: 90px;
    }
}
